<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <meta charset="UTF-8">
    <title>PhysWikiQuiz</title>

    <style>
      button {
        background-color: #5d8aa8;
        border: none;
        color: white;
        padding: 4px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    </style>

</head>

<body>

<!--
<img src="/static/PhysWikiQuiz-Logo.png" alt="PhysWikiQuiz-Logo"></img>
-->
<!-- https://stackoverflow.com/questions/11596777/flask-not-serving-pictures -->

<a target="_blank" rel="noopener noreferrer" href="https://github.com/ag-gipp/PhysWikiQuiz/tree/main/evaluation/module_workflow/demo_examples.png">Examples</a>
<a target="_blank" rel="noopener noreferrer" href="https://w.wiki/3zt9">Dataset</a>
<a href="">Demovideo</a>
<!-- https://www.youtube.com/channel/UC2akn0nFyoV3onD_WOUjptg -->
<a target="_blank" rel="noopener noreferrer" href="https://github.com/ag-gipp/PhysWikiQuiz">GitHub</a>


    <center>

    <h1 style="background-color:powderblue;">PhysWikiQuiz</h1>
    <h3 align="center">Physics Question Generation and Interrogation System</h3>
    <h5>Enter Formula Concept Name or QID (e.g., 'speed' or 'Q11376'):</h5>

    <form method="POST">
    <input name="concept" value="{{ concept }}">
        <button type="submit">Generate</button>
    </form>

    <h5>Formula Concept Question:</h5>

    <form>
    <label name="question">{{ question }}</label>
    </form>

    <h5>Enter Formula Concept Question Answer:</h5>

    <form method="POST">
    <input name="answer" value="{{ answer }}">
        <button type="submit">Answer</button>
    </form>
    <br>
    <form>
    <label name="correction">{{ correction }}</label>
    <br><br>
    <label name="explanation">{{ explanation }}</label>
    </form>

    </center>

</body>
</html>
